:root {
  /*fonts*/
  --main-font: "Roboto", sans-serif;
  --sekondary-font: "Raleway", sans-serif;
  /*fonts color*/
  --main-txt-cl: #212121;
  /*bg colors*/
  --light-br-color: #ffffff;
  --dark-br-color: #2f303a;
  --akcent-color: #2196f3;
  /*other*/
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .link.logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .link.logo {
    margin-right: 93px;
  }
}

.logo {
  font-family: var(--sekondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-cl {
  font-family: var(--sekondary-font);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--akcent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

body {
  font-family: var(--main-font);
  margin-left: auto;
  margin-right: auto;
}
body.no-scroll {
  overflow: hidden;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offering {
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url(/images/offering/background@1x-mb.png);
}
@media screen and (min-width: 768px) {
  .offering {
    height: 1140px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(/images/offering/background@1-tab.png);
  }
}
@media screen and (min-width: 1280px) {
  .offering {
    height: 856px;
    background-image: url(/images/offering/background@1x-desk.png);
  }
}

.container-offering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .container-offering {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .container-offering {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 260px;
  }
}

.name__content {
  margin-left: 0;
  padding-left: 20px;
}

.name__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .name__title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1280px) {
  .name__title {
    line-height: 120%;
  }
}

.name__list {
  margin-top: 60px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .name__list {
    max-width: 526px;
  }
}
@media screen and (min-width: 1280px) {
  .name__list {
    margin-left: 0;
  }
}

.list__card--about {
  width: 252px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list__card--about:last-child {
    margin-left: 116px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .list__card--about:last-child {
    margin-left: 67px;
  }
}

.list__about {
  margin-top: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .list__about {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.1875;
  }
}
@media screen and (min-width: 768px) {
  .list__about {
    margin-top: 27px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.list_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .list_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.list__name {
  margin-top: 84px;
}
@media screen and (min-width: 768px) {
  .list__name {
    margin-top: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .list__name {
    margin-top: 91px;
  }
}

.list__name::before {
  content: "";
  background-image: url(../../images/sprite/sprite-not-optimised#icon-icon-right.svg);
  background-size: cover;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.list_container--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list-btn {
  padding-left: 0;
  margin-right: 23px;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
 
  height: 40px;
  color: #2c2c2c;
  background: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: sticky;
  top: -1px;
  border-bottom: 1px solid #ececec;
  z-index: 100;
}
.header.no-transparency {
  background-color: #2e6088 rgb(47, 48, 58);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .list-header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    gap: 50px;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

@media screen and (max-width: 767px) {
  .list-header__link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .list-header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    gap: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-txt-cl);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-header__link:hover, .list-header__link:focus {
    color: var(--akcent-color);
  }
}

@media screen and (min-width: 768px) {
  .list-header__link--carrent {
    position: relative;
    color: var(--akcent-color);
  }
  .list-header__link--carrent::after {
    position: absolute;
    bottom: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--akcent-color);
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: contents;
  }
}

@media screen and (max-width: 767px) {
  .nav__list-header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list-header {
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .nav__link-tel {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__link-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link-tel {
    font-size: 14px;
    line-height: 1.1428571429;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 10px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link-tel:hover, .nav__link-tel:focus {
    color: var(--akcent-color);
  }
}

.icons-media {
  fill: currentColor;
}

.hero {
  text-align: center;
  margin: 0 auto;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backround/img@1-back.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/backround/img@1-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backround/img2@-mb.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/backround/img2@-mb.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backround/img@1x-bc-tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/backround/img@1x-bc-tab.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backround/img2@-tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/backround/img2@-tab.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backround/img@1bc-desc.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/backround/img@1bc-desc.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backround/img@2-desc.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/backround/img@2-desc.jpg");
  }
}

.hero__title {
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
    -webkit-animation: fade-in 250ms ease 250ms backwards alternate;
            animation: fade-in 250ms ease 250ms backwards alternate;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) scale(0.4);
            transform: translateX(-300px) scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) scale(0.4);
            transform: translateX(-300px) scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
.section.block {
  padding-bottom: 0%;
}

.link-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card:hover, .link-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
  }
}

@media screen and (max-width: 767px) {
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}
.link-card:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.img-portfolio {
  border-top: none;
  border-right: none;
  width: 450px;
  height: 295px;
}

.cards-link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.name-progect {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  text-align: left;
}

.name-upps {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.list-card {
  display: block;
}
@media screen and (min-width: 768px) {
  .list-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.about {
  display: block;
}
@media screen and (min-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 738px;
        flex-basis: 738px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    -ms-flex-preferred-size: 1200pxx;
        flex-basis: 1200pxx;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.about__adwantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  min-height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about__name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__name {
    text-align: left;
  }
}

.about__link-name {
  max-width: 450px;
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
  min-height: 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about__link-name {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__link-name {
    max-width: 270px;
  }
}

.section.img {
  margin-top: 0;
  padding-top: 0;
}

.name__action {
  display: none;
}
@media screen and (min-width: 1200px) {
  .name__action {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    text-transform: none;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
}

.img__cards {
  display: none;
}
@media screen and (min-width: 1200px) {
  .img__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .img.img__avatar-text {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 1200px) {
  .avatar__container {
    position: absolute;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}

.team {
  margin-bottom: 16px;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__list {
  display: block;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}

.team-list__container {
  display: block;
  max-width: 450px;
  max-height: 622px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-list__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 354px;
    max-height: 536px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team-list__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 270px;
    max-height: 428px;
  }
}
.team-list__container .team-card__name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team-list__container {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.team__name-users {
  font-weight: 500;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team__link-name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
  min-height: 16px;
}

.team__link-name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
  min-height: 16px;
}

.partner {
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  list-style: none;
  padding-left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
@media screen and (min-width: 1200px) {
  .partner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.partner__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .partner__logotype {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .partner__logotype {
    width: 170px;
  }
}
.partner__logotype:hover, .partner__logotype:focus {
  fill: var(--akcent-color);
  border: 1px solid var(--akcent-color);
}

.footer {
  position: relative;
  width: 100%;
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-item {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-item {
    text-align: left;
  }
}

.plase {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-tel-foot {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .link-tel-foot {
    text-align: left;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.link-tel-foot:hover, .link-tel-foot:focus {
  color: var(--akcent-color);
}

.logo-bl {
  text-align: center;
  font-family: var(--sekondary-font);
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo-bl {
    font-size: 26px;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.footer-name {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .form {
    margin: 0;
    margin-left: auto;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.form-name {
  padding-top: 13px;
  padding-bottom: 20px;
}

.footer__icons-list {
  padding-top: 12px;
  margin-right: 93px;
  margin-left: 70px;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-items {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.form__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .form__join {
    text-align: left;
  }
}

.socials-icon-footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.ft-icon {
  fill: #ffffff;
}

.form__icons {
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .form__icons {
    margin: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .form__icons {
    margin-left: 70px;
  }
}

.form__icons-list {
  margin-top: 20px;
  margin-left: -5px;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .form__footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.form__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
 
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__list:hover, .btn__list:focus {
  color: #ffffff;
  background-color: var(--akcent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn__order {
  font-family: var(--main-font);
  background-color: var(--akcent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  max-width: 220px;
  max-height: 70px;
  min-width: 200px;
  min-height: 50px;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__order:hover, .btn__order:focus {
  background-color: #188ce8;
}

.container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .container-btn {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: 631px;
        flex-basis: 631px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  fill: #ffffff;
  background-color: var(--akcent-color);
}

.adwantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partner-logotype:hover, .partner-logotype:focus {
  fill: var(--akcent-color);
  border: 1px solid var(--akcent-color);
}
@media screen and (min-width: 768px) {
  .partner-logotype:hover, .partner-logotype:focus {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .partner-logotype:hover, .partner-logotype:focus {
    padding: 16px 32px;
    width: 170px;
    height: 92px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  -webkit-transition: -webkit-transform 400ms ease-in-out 200ms;
  transition: -webkit-transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  opacity: 1;
  width: 450px;
  background-color: #ffffff;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
          transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid;
  background-color: transparent;
  cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--akcent-color);
}

.speaker-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.list-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-text {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  width: 370px;
  font-family: var(--main-font);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal-text {
    line-height: 1.15;
  }
}

.register-form-group {
  margin-bottom: 20px;
}

.modal-name-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
  width: 370px;
}
@media screen and (min-width: 1200px) {
  .modal-name-wrap {
    width: 448px;
  }
}

.modal-name-wrap:last-child {
  margin-bottom: 0;
}

.modal-name {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  width: 370px;
}
@media screen and (min-width: 1200px) {
  .modal-name {
    width: 448px;
  }
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.register-form-input,
.modal-name-textarea {
  height: 40px;
  padding: 12px;
  padding-left: 36px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-name-textarea {
  padding-left: 10px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
  width: 370px;
}
@media screen and (min-width: 1200px) {
  .modal-name-textarea {
    width: 448px;
  }
  .modal-name-textarea:hover, .modal-name-textarea:focus {
    border: 1px solid var(--akcent-color);
  }
}

.register-form-icon {
  position: absolute;
  bottom: 11px;
  left: 10px;
  margin: 3px;
}

.register-form-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .register-form-link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal-name-textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
}

.register-form-agrement-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.register-cheked-box {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-form-icon-cheked {
  opacity: 0;
}

.register-cheked-box:checked + .register-form .register-form-icon-uncheked {
  opacity: 0;
}

.register-form-icon-cheked {
  fill: var(--akcent-color);
}
.register-cheked-box:checked + .register-form .register-form-icon-cheked {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .register-form-agreement-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.register-form-btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.register-form-btn:hover, .register-form-btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.input-type {
  min-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
}
.footer-input:focus {
  font-family: var(--main-font);
  color: #f5f4fa;
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 36px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.register-form-input:hover, .register-form-input:focus {
  border: 1px solid var(--akcent-color);
}

.register-form-input:not(:-moz-placeholder-shown) + .register-form-icon:focus {
  fill: var(--akcent-color);
}

.register-form-input:not(:-ms-input-placeholder) + .register-form-icon:focus {
  fill: var(--akcent-color);
}

.register-form-input:focus + .register-form-icon,
.register-form-input:not(:placeholder-shown) + .register-form-icon:focus {
  fill: var(--akcent-color);
}

.subskraibe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-subm {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  gap: 10px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .btn-subm {
    margin: 0;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-subm:hover, .btn-subm:focus {
    background-color: #188ce8;
  }
}
@media screen and (min-width: 1200px) {
  .btn-subm {
    margin: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-btn {
    margin-left: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    fill: #212121;
  }
  .menu-button:active {
    fill: #2196f3;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 100;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  max-width: 480px;
  margin: 0 auto;
  height: 100%;
}

.menu-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: #212121;
  border: none;
  background-color: transparent;
}
.menu-btn-close:active {
  fill: #2196f3;
}

.mobile-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-link:active {
  color: #2196f3;
}

.mobile-items {
  margin-bottom: 32px;
}

.mobile-items:last-child {
  margin-bottom: 0;
}

.mobile-container {
  margin-bottom: auto;
}

.mobile-list_mail:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socials__list {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-list--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  gap: 10px;
}

.mobile-socials:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */