.hero {
  text-align: center;
  margin: 0 auto;
 padding: 118px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url("../images/backround/img@1-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url("../images/backround/img2@-mb.jpg")
  }      


  @media screen and (min-width: 768px){
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url("../images/backround/img@1x-bc-tab.jpg")}
      
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx)
        {  
          
      background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url("../images/backround/img2@-tab.jpg")
    }
  @media screen and (min-width: 1200px){
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ),
    url("../images/backround/img@1bc-desc.jpg")}

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) { 
   
    
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url("../images/backround/img@2-desc.jpg")
  }
}
.hero__title {
 
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-family: var(--main-font);

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
    animation: fade-in 250ms ease 250ms backwards alternate;
    transform-origin: left center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-300px) scale(0.4);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}