.partner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;

  list-style: none;
  padding-left: 0;

  -webkit-box-pack: center;
  -ms-flex-pack: center;

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.partner__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  -webkit-box-align: center;
  -ms-flex-align: center;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    fill: var(--akcent-color);
    border: 1px solid var(--akcent-color);
  }
}
