.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);

  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 100;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  transform: translateX(0);
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;

  max-width: 480px;
  margin: 0 auto;
  height: 100%;
}

.menu-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  fill: #212121;
  border: none;
  background-color: transparent;

  &:active {
    fill: #2196f3;
  }
}
.mobile-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc (47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-link:active {
  color: #2196f3;
}
.mobile-items {
  margin-bottom: 32px;
}

.mobile-items:last-child {
  margin-bottom: 0;
}

.mobile-container {
  margin-bottom: auto;
}
.mobile-list_mail:not(:last-child){
  margin-bottom: 32px;
}
.mobile-tel {
  display: flex;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  margin-bottom: 32px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.mobile-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}

.mobile-socials__list{text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;}

.mobile-list--socials {
  display: flex;
  margin-top: 64px;
  gap: 10px;
}

.mobile-socials:not(:last-child){
 
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
